body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#666;
}

a {
	color: #356aa0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.logTableHead {
	font-weight: bold;
	color: #6995c2;
}

.logTableOutline {
	border: 1px solid #666;
	width: 100%;
}

table.logTable {
	width: 100%;
}

.logTable {
	border: 1px solid grey;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}

.logTable td {
	text-align: center;
	padding: 2px;
	margin: 0px;
	border: 1px solid #bbb;
	padding-left: 4px;
	padding-right: 4px;
}

tr.evenRow {
}

tr.oddRow {
	background-color: #e8fffc;
}

td.logComment {
	text-align: left;
}

.bandModesTableHead {
	font-weight: bold;
	color: #6995c2;
}

.bandModesTableOutline {
	border: 1px solid #666;
}

.bandModesTable {
	border: 1px solid grey;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}

.bandModesTable td {
	text-align: center;
	width: 3.5em;
	padding: 2px;
	margin: 0px;
	border: 1px solid #ddd;
}

.navlink {
	font-size: 135%;
	text-decoration: underline;
}
